.fFamily-heading { @include font($family: $fFamily-heading); }
.fFamily-base { @include font($family: $fFamily-base); }

.fWeight-h-regular 		{ @include font($weight: $fWeight-h-regular) };
.fWeight-h-bold 		{ @include font($weight: $fWeight-h-bold) };
.fWeight-text-regular 	{ @include font($weight: $fWeight-text-regular) };
.fWeight-text-bold 		{ @include font($weight: $fWeight-text-bold) };

.fSize-12 { @include font($size: 12px); }
.fSize-14 { @include font($size: 14px); }
.fSize-16 { @include font($size: 16px); }
.fSize-18 { @include font($size: 18px); }
.fSize-21 { @include font($size: 21px); }
.fSize-24 { @include font($size: 24px); }
.fSize-30 { @include font($size: 30px); }
.fSize-36 { @include font($size: 36px); }
.fSize-42 { @include font($size: 42px); }

.text-center { text-align: center; }
.uppercase { text-transform: uppercase; }

@media (max-width: $screen-md-max) {
    .md-text-center { text-align: center; }
    .md-text-left { text-align: left; }
    .md-text-right { text-align: right; }
}
@media (max-width: $screen-sm-max) {
    .sm-text-center { text-align: center; }
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }
}
@media (max-width: $screen-xs-max) {
    .xs-text-center { text-align: center; }
    .xs-text-left { text-align: left; }
    .xs-text-right { text-align: right; }
}