body {
  @include font($family: $fFamily-base, $weight: $fWeight-text-regular);

  p {
    @include font($family: $fFamily-base, $size: $fSize-p);
    line-height: $lHeight-base;
    margin: 0;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  @include font($family: $fFamily-heading, $weight: $fWeight-h-regular);
  line-height: $lHeight-heading;
}

em { font-style: italic; }
strong { font-weight: bold; }