@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

// Font Families
$fFamily-base:				'Raleway', sans-serif;
$fFamily-heading:			'Raleway', sans-serif;

// Font Weights
$fWeight-text-regular:		500;
$fWeight-text-bold:			700;
$fWeight-h-regular:			500;
$fWeight-h-bold:			700;

// Font Sizes
$fSize-h1:					42px;
$fSize-h2:					32px;
$fSize-h3:					24px;
$fSize-h4:					21px;
$fSize-h5:					18px;
$fSize-p:					15px;

// Line Heights
$lHeight-base:				1.6;
$lHeight-heading:			1.6;
